.btn {
  background-color: $color-light-grey;
  display: inline-block;
  position: relative;
  border: 3px solid $color-black;
  padding: 0.5rem 1rem;
  box-shadow: 0 0.5rem 1rem rgba($color-black, 0.4);
  cursor: pointer;

  &--inverse {
    background-color: $color-black;
    color: $color-white;
    padding: 0.5rem 1rem;
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.8);
    width: 50%;
    margin: 0 auto;
  }
}

.btn:hover {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}
