.grid {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 150px;
  grid-auto-flow: row dense;
  padding: 2rem;
  @media screen and (max-width: 320px) {
    padding: 0rem;
  }
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  color: $color-white;
  grid-column-start: auto;
  grid-row-start: auto;
  background: url("../../gallery-img/cartoon-head.jpg");
  background-size: cover;
  background-position: center;
  box-shadow: -2px 2px 10px 0px rgba(#444, 0.4);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;

  &:nth-of-type(2n) {
    background-image: url("../../gallery-img/dbz-cartoon.png");
  }

  &:nth-of-type(3n) {
    background-image: url("../../gallery-img/boondocks-img.png");
  }

  &:nth-of-type(4n) {
    background-image: url("../../gallery-img/yourtake-logo.png");
  }

  &:nth-of-type(5n) {
    background-image: url("../../gallery-img/ngtc-logo.png");
  }

  &:nth-of-type(6n) {
    background-image: url("../../gallery-img/wmg-logo.png");
  }

  &:nth-of-type(7n) {
    background-image: url("../../gallery-img/mom-logo.png");
  }

  &:nth-of-type(8n) {
    background-image: url("../../gallery-img/mesmereyes-logo.jpg");
  }

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $color-black;
    opacity: 0.3;
    transition: opacity 0.3s ease-in-out;
  }

  &:hover {
    transform: scale(1.05);

    &:after {
      opacity: 0;
    }
  }

  &--medium {
    grid-row-end: span 2;
  }

  &--large {
    grid-row-end: span 3;
  }

  &--full {
    grid-column-end: auto;

    @media screen and (min-width: 768px) {
      grid-column: 1/-1;
      grid-row-end: span 2;
    }
  }

  &__details {
    position: relative;
    z-index: 1;
    padding: 15px;
    color: #444;
    background: $color-white;
    color: #828282;
    text-align: center;
    font-family: "Raleway", sans-serif;

    &:before {
      font-weight: bold;
      font-size: 1.1rem;
      padding-right: 0.5em;
      color: #444;
    }
  }
}

.grid-services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 30px;
  justify-items: center;
  align-items: center;
  margin: 2rem auto;
  @media screen and (max-width: 800px) {
    display: block;
  }
}

.grid-projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 10px;
  justify-items: center;
  align-items: center;

  padding: 1rem 0;
  @media screen and (max-width: 800px) {
    display: block;
  }
}

.grid-blog {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 30px;
  justify-items: center;
  align-items: center;

  padding: 2rem 1.5rem;
  @media screen and (max-width: 800px) {
    display: block;
  }
}
