//SERVICES
.services-container {
  width: 100%;
  height: auto;
  text-align: center;
  padding-bottom: 1rem;
  background-color: $color-light-grey;
  font-family: "Judson", serif;
}

.services-container h2 {
  padding: 0.5rem;
}

.svc-icons {
  margin: 1rem auto;
  color: #800020;
}
