@import "./sass/abstracts/variables";
@import "./sass/abstracts/mixins";

@import "./sass/components/button";

@import "./sass/layout/header";
@import "./sass/layout/mainbody";
@import "./sass/layout/services";
@import "./sass/layout/projects";
@import "./sass/layout/aboutme";
@import "./sass/layout/footer";
@import "./sass/layout/navigation";
@import "./sass/layout/grid";
@import "./sass/layout/blog";
@import "./sass/layout/form";
@import "./sass/layout/gallery";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
}
